.box
{
    border: 2px solid black;
    height: 2000px;
    width: 2000px;
    padding: 20px;
}
.innerbox
{
    background-color: yellow;
    height: 500px;
    width: 200px;
    border: 3px dashed red;
}
#box1
{
    position: static;
}
#box2
{
    position: relative;
    margin-left: 300px;
    margin-top: -505px;
}
#box3
{
    position: relative;
    margin-left: 600px;
    margin-top: -505px;
}