body{ background-image: url(./pics/people-2564955_1920.jpg);
     
    background-size: 1339px;
  background-repeat: no-repeat;
  color: white;

}
.form{ background-color: rgba(0, 0, 0, 0.592);
     height: 422px;
     width: 546px;
    text-align: center;
     margin: 100px auto;
     padding-top: 9px;
     }

     .heading{position: relative;
       top: 90px;
      left:474px;
      font-size: 45px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}